@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bs-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg {
  background: rgb(22,26,66);
  height: auto;
  background: radial-gradient(circle, rgba(22,26,66,1) 0%, rgba(22,26,66,1) 42%, rgba(31,34,64,1) 100%);
}

/* AJUSTES DE RESPONSIVIDADE */

/* AJUSTES DE RESPONSIVIDADE */

/* CARDS */

.day{
  background: rgb(124,185,249) !important;
  background: radial-gradient(circle, rgba(124,185,249,1) 0%, rgba(132,190,250,1) 42%, rgba(130,170,212,1) 100%) !important;
}
.principal{
  padding: 6.25rem 0 6.25rem 0 !important;
}
.secundario{
  padding: 3rem 0 3rem 0 !important;
}
.night{
  background: rgb(35,38,40) !important;
  background: radial-gradient(circle, rgba(35,38,40,1) 0%, rgba(38,41,42,1) 42%, rgba(42,44,46,1) 100%) !important;
}

/*CUSTOM*/

.horas{
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.horas h1{
  font-size: 3rem;
  font-weight: 700;
}

.h100{
  height: 100vh;
}